<div class="bg-cover <% if (is_home() && page.current === 1) { %>index-cover<% } %> about-cover" style="background-image: url('/medias/cover.jpg')">
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                <div class="brand">
                    <div class="title center-align">
                    <% if (config.subtitle && config.subtitle.length > 0) { %>
                        <%= config.subtitle %>
                    <% } else { %>
                        subtitle
                    <% } %>
                    </div>
                    <div class="description center-align">
                        <span id="description"></span>
                    </div>
                </div>
            </div>
        </div>
        <% if (is_home() && page.current === 1) { %>
        <div class="cover-btns">
            <a href="#recommend-sections" class="waves-effect waves-light btn">
                <i class="fa fa-angle-double-down"></i>继续阅读
            </a>

        </div>
        <div class="cover-social-link"><%- partial('_partial/social-link') %></div>
        <% } %>
    </div>
</div>
<% if (config.descriptionEN) { %>
<script src="<%- theme.libs.js.typed %>"></script>
<script>
var options = {
    strings: [' <%- config.description %>', ' <%- config.descriptionEN %>'],
    typeSpeed: 120,
    loop: true,
    loopCount: Infinity,
    backSpeed: 20,
    cursorChar: '💪' //
};
var typed = new Typed('#description', options);
</script>
<% } %>
<script>
    // Dynamically switch banner pictures every day.
    $('.bg-cover').css('background-image', 'url(/medias/banner/' + new Date().getDay() + '.jpg)');
</script>

